* {
  padding: 0;
  margin : 0;
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Microsoft YaHei', sans-serif;
}

body {
  position        : relative;
  background-color: #f3f2f3;
}

h2 {
  font-size     : 36px;
  line-height   : 38px;
  padding-bottom: 0px;
  font-weight   : 400;
  text-transform: uppercase;
  margin        : 0px;
  border-bottom : #ef7674 6px solid;
  padding-bottom: 9px;
  display       : inline-block;
}

h3 {
  font-size     : 18px;
  line-height   : 21px;
  padding-bottom: 3px;
  font-weight   : 400;
}

h4 {
  font-size     : 19px;
  line-height   : 24px;
  padding-bottom: 6px;
  font-weight   : 600;
  margin        : 0px;
  color         : #5b4c5c;
}

h5 {
  font-size     : 16px;
  line-height   : 24px;
  padding-bottom: 6px;
  font-weight   : 400;
}

p {
  font-size  : 16px;
  line-height: 27px;
  font-weight: 400;
  color      : #897f8a;
}

a {
  color: #000;
}

a:checked {
  color: #777;
}

a:visited {
  color: #777;
}

.container {
  margin : 0;
  padding: 0;
}

header .banner {
  margin: 0;
  /* vh就是当前屏幕可见高度的1%，也就是说

height:100vh == height:100%;

但是有个好处是当元素没有内容时候，设置height:100%该元素不会被撑开，

但是设置height:100vh，该元素会被撑开屏幕高度一致。 */
  height  : 60vh;
  width   : 100%;
  overflow: hidden;
  position: relative;
}

header .banner li {
  width              : 100%;
  height             : 60vh;
  position           : absolute;
  left               : 0;
  top                : 0;
  background-position: center;
  background-size    : 100% 100%;
  background-repeat  : repeat-x;
  overflow           : hidden;
  display            : none;
}

header .banner .bannerText {
  position  : absolute;
  top       : 35%;
  left      : 0;
  right     : 0;
  color     : #fff;
  text-align: center;
}

header .banner .bannerText h1 {
  font-size     : 48px;
  line-height   : 57px;
  font-weight   : bold;
  padding-bottom: 8px;
  font-family   : "微软雅黑"
}

header .banner .bannerText p {
  font-size  : 20px;
  color      : #fff;
  font-weight: 540;
}

.mask {
  background-color: #fff;
  opacity         : .4;
  position        : absolute;
  top             : 0;
  right           : 0;
  bottom          : 0;
  left            : 0;
}

nav {
  background-color: #fff;
}

nav ul {
  margin : 0 auto;
  display: flex;

  background-color: #fff;
}

nav ul li {
  padding: 30px 65px;
}

nav ul li span {
  font-family: "微软雅黑";
  color      : #777;
  font-size  : 18px;
  font-weight: bold;
}

nav ul li span:hover {
  color          : #ef7674;
  text-decoration: none;
}

#aboutme {
  background-color: #f3f2f3;
}

.title {
  width     : 100%;
  text-align: center;
  margin    : 15px 0 15px 0;
}

#aboutme h2,
#skill h2,
#callme h2 {
  margin: 50px;
}

#aboutme .des {
  color           : #777;
  font-weight     : 520;
  /* font-family  : "黑体"; */
  margin-bottom   : 20px;
  font-size       : 18px;
  text-align      : center;
  margin          : 0;
}

#aboutme .mydetail {
  margin-bottom: 20px;
}

#aboutme .hui {
  width          : 100%;
  display        : flex;
  justify-content: space-between;
  margin         : 40px 0;
}

.hui .left {
  float: left;
}

.hui .right {
  float: right;
}

#description {
  margin-bottom: 70px;
}

#skill {
  background-color: #fff;
  text-align      : center;
}

#skill p {
  margin: 0;
}

#skill h4 {
  font-size     : 19px;
  line-height   : 24px;
  padding-bottom: 6px;
  font-weight   : 600;
  margin        : 0px;
  color         : #5b4c5c;
  margin-bottom : 20px;
}


#program {
  background-color: #f3f2f3;
}

#callme {
  height: 500px;
}


#callme .icon {
  width           : 46px;
  height          : 46px;
  border-radius   : 15px;
  background-color: #5b4c5c;
  text-align      : center;
}

#callme #plan {
  display        : flex;
  justify-content: space-between;
  color          : #fff;
}




#callme #plan>div>div {
  text-align: center;
  margin    : 0 auto 10px;
}

#callme .icon span {
  font-size: 40px;
}

#callme .icon img {
  width: 85%;
}

/* 媒体区间 */
@media(max-width:750px) {

  header .banner,
  header .banner li {
    height: 45vh;
  }
  header .banne .bannerText{
    top: 15%;
  }
  header h1{
    font-size: 26px;
  }
  header  p{
    font-size: 14px;
  }
  .nav li{
    padding: 20px 20px;
  }
}